.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* height: 600px; */
  max-width: 1024px;
  margin: auto;
  padding: 2rem 0;
  /* background-color: rgb(108, 133, 154); */
}

